!!! XML
:plain
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
%svg{version: 1.1, id:"Layer_1", xmlns:"http://www.w3.org/2000/svg", "xmlns:xlink"=>"http://www.w3.org/1999/xlink", x:"0px",
  y:"0px", width:"512px", height:"512px", viewBox:"0 0 512 512", "enable-background"=>"new 0 0 512 512", "xml:space"=>"preserve"}
  %g#Grid_1_
    %g#Layer_1_1_
      %g#Grid
        %g{fill:"none", stroke:"#A9CCDB"}
          %rect.svg-over{fill:"none", "stroke-miterlimit"=>"10", width:"512", height:"512"}
  %g#up_arrow
    %g{ transform:"translate(256, 160)" }
      %g{ transform:"scale(0.5, 0.5)" }
        %g{ transform:"translate(-256, -256)" }
          %path{fill:"#000000", "fill-rule"=>"evenodd", "clip-rule"=>"evenodd", d:"M256,160l160,153.594L370.281,352L256,236.812L141.719,352L96,313.594L256,160z"}
  %g#down_arrow
    %g{ transform:"translate(256, 352)" }
      %g{ transform:"scale(0.5, -0.5)" }
        %g{ transform:"translate(-256, -256)" }
          %path{fill:"#000000", "fill-rule"=>"evenodd", "clip-rule"=>"evenodd", d:"M256,160l160,153.594L370.281,352L256,236.812L141.719,352L96,313.594L256,160z"}
