!!!
%html{:lang => "en"}
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Qchmqs
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    -# %link{:href => "../../favicon.ico", :rel => "icon"}
    %link{ rel:"stylesheet", type:"text/css", href: "css/static.css" }
    %script{ type:"text/javascript", src:"js/jquery-2.2.3.min.js" }
    %script{ type:"text/javascript", src:"js/bootstrap.min.js" }
    %script{ type:"text/javascript", src:"js/deadline_status.js" }
    %script{ type:"text/javascript", src:"js/static.js" }
  %body{:role => "document"}
    %section
      .container
        %a.design{ :href => "design.html" }
          DESIGN
        %a.code{ :href => "code.html" }
          {CODE}
